COMPOSE_PROJECT_NAME=pysoy
PYSOY_SITE_HOST=boards.example.com
PYSOY_WEB_IMAGE=ghcr.io/natelastname/pysoy-web:0.1.0
POSTGRES_DB=pysoy
POSTGRES_USER=pysoy
PYSOY_MEDIA_VOLUME=pysoy_media
PYSOY_STATIC_VOLUME=pysoy_static
